<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Страница не найдена</title>
</head>
<body>
    <% include blocks/phone-block%>
    <% include blocks/header%>
    <% include blocks/navigation%>
    <div class="block">Ошибка 404</div>
    <% include blocks/footer%>
    <script src="/JS/jquary.js"></script>
    <script src="/JS/addToCart.js"></script>
    <!-- <script src="/JS/showCart.js"></script> -->
</body>
</html>