<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="public/CSS/main-block.css">
    <link rel="stylesheet" href="public/CSS/second-block.css">
    <link rel="stylesheet" href="public/CSS/third-block.css">
    <link rel="stylesheet" href="public/CSS/fourth-block.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <!-- <img id="background1" src="images/background1.jpg" alt=""> -->
        <% include blocks/phone-block %>
        <div class="main-block">
            <div class="backg"></div>
            <div class="logo">
                <a href="/index"><h1>Velvet</h1></a>
                <h2>Мы делаем вкусно</h2>
            </div>
        </div>
        <% include blocks/navigation %>  
        <!-- <div class="second-block">
            <h2>Обо мне</h2>
            <div class="content-wrapper">
                <img id="nastko" src="../public/Images/nastko.jpg" alt="Фото">
                <div class="content">
                    
                    <p>Привет, меня зовут Настя и я ооочень люблю печь как тортики, так и другую вкусную кондитерку. Данный процесс до безумия интересный, в особенности когда меня просят сделать что-нибудь креативное. <br>За то время, что я занимаюсь тортиками у меня накопился очень неплохой богаж опыта, идей для будущих проектов, а так же фотографий работ, которые вы можете посмотреть ниже.</p>
                </div>
            </div>
            

        </div> -->
        
        <div class="third-block">
            <h2>Тортики в инстаграме</h2>

            <div class="insta-frame">
                    <iframe class="instaFrm" src="addnewjsonobj/index.html">
                    </iframe>
                </div>
        </div>
        <div class="fourth-block">
            <h2>Интерактивный генератор</h2>
            <div>
                <div class="content-wrapper">
                    <div class="content">
                        <iframe class="shape" src="test-shapes/index.html" scrolling="no" allowtransparency="true" frameborder="0"></iframe>
                        <p>Если вдруг вы не увидели тортик  который бы очень хотели, попробуйте наш интерактивный генератор. Надеюсь с его помощью вы уж точно создадите вкусность о которой мечтали.</p>

                    </div>
                </div>
            </div>
        </div>
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A245d1135782ce3e6ee0a21d23d72e7afc5bcdc5154ef55c44668911cfbbac391&amp;source=constructor" width="100%" height="600" frameborder="0"></iframe>
    </div> 
    <% include blocks/footer%> 
    <script src="../JS/addToCart.js"></script>
    <!-- <script>$('body').load('https://yandex.ru/map-widget/v1/?um=constructor%3A245d1135782ce3e6ee0a21d23d72e7afc5bcdc5154ef55c44668911cfbbac391&amp;source=constructor',function(){
        $('body').animate({opacity:1},500);
    });</script> -->
</body>
</html>