<link rel="stylesheet" href="../public/CSS/nastochka.css">

<form action="/nastochka-logged" method="post"></form>
<div class="confirm">
    <h1>Привет;D</h1>
    <div class="name">
        <p>Логин</p>
        <input type="text" name="login" required>
    </div>
    <div class="telphone">
        <p>Пароль</p>
        <input type="text" name="password" required>
    </div>
    <div class="sub">
        <input type="submit" id="submit" value="Отправить"/>
    </div>
</div>
</form>