* {
    margin: 0;
    padding: 0;
}

.footer {
    /* position: absolute; */
    width: 100%;
    background: rgb(39, 39, 39);
    
}

.footer-content {
    
    height: 100px;
    width: 100%;
}

.footer-content p {
    /* display: inline-block; */
    line-height: 100px;
    color: white;
    float: left;
}

.sociallink {
    /* display: inline-block; */
    margin-right: 10px;
    float: right;
    height: 100px;
    width: 120px;
    padding-top: 34px;
}

.sociallink div {
    margin-left: 5px;
    float: right;
    height: 32px;
    width: 32px;
    /* line-height: 100px; */

}

.vk {

    background-image: url(../Images/vk-blue32p.png);
}

.vk:hover {
    background-position: 32px 0;
}

.tel {

    background-image: url(../Images/telephone32p.png);
}

.tel:hover {
    background-position: 32px 0;
}

.insta {
    background-image: url(../Images/Instagram32p.png);

}

.insta:hover {
    background-position: 32px 0;
}