<link rel="stylesheet" href="../../public/CSS/footer.css">

<div class="footer">
    <div class="footer-content">
        <p>Copyright(C) Насточка 2018</p>
        <div class="sociallink">
            <a href="https://www.instagram.com/sbitnevanastasiia" target="_blank"><div class="insta"></div></a>
            <a href="https://vk.com/i_know_this_story" target="_blank"><div class="vk"></div></a>
            <a href="tel:+79235761762"><div class="tel"></div></a>
            <div></div>
        </div>
    </div>
    
</div>