<link rel="stylesheet" href="../../public/CSS/main-block.css">

<div class="main-block">
    <div class="backg"></div>
    <div class="logo">
        <a href="/index"><h1>Velvet</h1></a>
        <h2>Мы делаем вкусно</h2>
    </div>
</div>