<link rel="stylesheet" href="../../public/CSS/navigation.css">

<div class="minified-menu"></div>
<div class="navigation">
    
    <ul>
        <a href="/index"><li>Главная</li></a>
        <a href="/categories"><li id="cat">Категории</li></a>
        <a href="/generator"><li>Генератор</li></a>
        <a href="/about"><li>Обо мне</li></a>
    </ul>
    <div class="searchButton"></div>
    <form class="searchForm" action=""><!--/nastochka/search -->
        <input type="text" class="admSearch" placeholder="Поиск">
    </form>
    <a class="cartLink" href="/cart">Корзина</a>
</div>

<div class="subCat">
    <ul>
        <a href="/categories/Svadebny'j"><li>Свадебные</li></a>
        <a href="/categories/Korporativny'j"><li>Корпоративные</li></a>
        <a href="/categories/Prazdnichny'j"><li>Праздничные</li></a>
        <a href="/categories/Detskij"><li>Детские</li></a>
        <a href="/categories/Muzhskoj"><li>Мужские</li></a>
        <a href="/categories/ZHenskij"><li>Женские</li></a>
    </ul>
</div>
<script src="/JS/jquary.js"></script>
<script src="/JS/NavScript.js"></script>